.property-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.6rem var(--wds-color-ink-lighter);

  .property-card-container[data-v-1d5b8f7c] {
    box-shadow: none;
    border-radius: 0.5rem !important;
  }

  .property-card-container {
    .social-cues-container {
      padding: unset !important;

      .avatar-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .avatar-item:not(:last-child) {
          margin-right: -0.3rem !important
        }
      }
    }
  }

  .metrics-grid {
    width: 100%;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: fit-content(100%) repeat(5, auto);

    .row {
      display: contents;

      .title,
      .item {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.title {
          font-size: 0.85rem;
          grid-column: 1;
          color: var(--wds-color-ink-darker);
        }

        &.item {
          font-size: .8rem;

          .label {
            color: var(--wds-color-ink-darker);
          }

          .value {
            color: var(--wds-color-ink);
          }
        }
      }

      &:not(:last-child) {
        .title,
        .item {
          border-bottom: 0.0825rem solid var(--wds-color-ink-lightest);
        }
      }
    }
  }
}
