.property-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem var(--wds-color-ink-lighter);
  border: 0.0625rem solid var(--wds-color-ink-lighter);

  .property-card-container {
    box-shadow: none;
    border-radius: 0.5rem 0.5rem 0 0 !important;
    border-bottom: 0.0625rem solid var(--wds-color-ink-lighter);

    &:not(:hover):not(:focus) {
      box-shadow: none;
    }

    .linkups-container {
      flex-direction: column !important;
    }

    &.unavailable {
      .whos-staying {
        filter: grayscale(85%);
      }
    }

    .whos-staying {
      padding: unset !important;

      .avatar-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .avatar-item:not(:last-child) {
          margin-right: -0.3rem !important
        }
      }
    }
  }

  .metrics-grid {
    width: 100%;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: fit-content(100%) repeat(5, auto);

    .row {
      display: contents;

      .title,
      .item {
        padding: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        &.title {
          font-size: 0.85rem;
          grid-column: 1;
          color: var(--wds-color-ink-darker);
        }

        &.item {
          font-size: .8rem;

          .label {
            color: var(--wds-color-ink-darker);
          }

          .value {
            white-space: nowrap;
            color: var(--wds-color-ink);
          }
        }
      }

      &:not(:last-child) {
        .title,
        .item {
          border-bottom: 0.0625rem solid var(--wds-color-ink-lighter);
        }
      }
    }
  }

  .note {
    text-align: center;
    font-size: .8rem;
    color: var(--wds-color-ink);
    border-top: 0.0625rem solid var(--wds-color-ink-lighter);
  }
}

@media (max-width: 520px) {
  .property-card .metrics-grid * {
    font-size: calc(100% - 5%);

    .row .item .value {
      font-size: calc(100% - 40%);
    }
  }
}
